<%= link_to 'Back to Message Board', posts_path %>
<div class="container flex justify-center max-w-7xl mx-auto ">
  <div class="flex justify-center w-full p-4 px-3 py-10">
    <div class="w-full">
      <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
        <div class="flex justify-between items-center">
            <span class="text-left font-light text-gray-600">
              <%= @post.time_created %>
            </span>
            <span class="font-light text-gray-600  px-4">
              <%= @post.user.name %>
            </span>
        </div>

        <div class="mt-2">
          <div class="text-xl text-gray-700 font-bold hover:text-gray-600 py-2 px-2">
            <%= @post.title %>
          </div>

          <div class="mt-2 text-gray-600 py-2 px-4">
            <p><%= @post.message %></p>
          </div>
        </div>
          
        <div class="flex justify-end mt-4">
          <% if current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path, class: 'flex mr-2 text-gray-700 text-sm mr-3 text-blue-600 hover:underline' %>
            <%= button_to "Delete", @post, method: :delete, class: 'flex mr-2 text-gray-700 text-sm mr-3 text-blue-600 hover:underline' %>
          <% end %>
        </div>
      </div>


        <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
          <div class="px-4 pt-3 pb-2 text-gray-600">Add a new comment</div>
          <%= render 'comments/form', 
            post: @post, 
            comment: @post&.comments.new,
            submit_label: "Comment" %>
          <% @comments.each do |comment| %>
            <%= render 'comments/comment', 
            post: @post, 
            comment: comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
